.footer {
  background-color: #222;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 45px;
  cursor: pointer;
  margin-bottom: 1.5em;
}

.social_list li:hover {
  color: #ffbb33;
  transform: scale(1.5);
}

.amarelo {
  color: #ffbb33;
  font-weight: bold;
}
